@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1400px)
    header
      min-height: 635px
      .items-section
        margin-top: 75px
        //margin-bottom: 15px
      .item
        .description
          min-height: 50px
          .fb-spoiler
            font-size: 15px
          .open-sans
            font-size: 13px
        .wrap-img
          //width: 60%
          width: 130px
          height: 130px
          .custom-width
            width: 65%
      .header-text
        h2
          margin-bottom: 12px
        h1, h2
          //font-size: 60px
          //line-height: .9
        p
          //font-size: 37px
          //line-height: 1.2
      .background-holder
        margin-bottom: 50px
      .logo
        top: -98px



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    header
      .items
        margin: 0 -20px
      .item
        padding: 0 20px
        .description
          .fb-spoiler
            font-size: 17px
          .open-sans
            font-size: 14px
      .header-text
        .title-section
          width: 490px
        h1
          //font-size: 60px
        p
          //font-size: 37px
      .items-section
        margin-top: 85px

    .form-hold
      h3
        font-size: 21px
      .btn
        font-size: 20px
      .wrap-btn
        &:after
          top: 53%
          width: 10px
          height: 10px
      .form-control
        font-size: 22px

    .third-section
      .regular-text-section
        padding-top: 55px
        font-size: 24px
      .bold-text-section
        margin-top: 35px
        font-size: 32px
      .button-section
        margin-top: 40px
        padding-bottom: 50px
        font-size: 27px
    .fourth-section
      .main-holder
        max-width: 800px
      .items
        margin: 0 -20px
      .item
        padding: 0 20px
        .wrap-img
          width: 100px
          height: 100px
        p
          font-size: 22px



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    header
      background-image: url(../img/background-header-4.png) !important
      .logo
        top: -147px
      .background-holder
        width: 100%
        background: #00003c
        margin-bottom: 90px
      .mobile-visible
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: -157px
        left: 30px
        width: 150px
      .item
        .description
          width: 200px
      .header-text
        .title-section
          width: 70%
      //.mobile-visible
      //  display: flex
      //  align-items: center
      //  justify-content: center
      //  position: absolute
      //  top: -165px
      //  left: 30px
      //  width: 150px
      .label
        display: none

    .form-hold
      border-radius: 0
      .form-row-wrap
        justify-content: center
      .form-row
        width: 70%
        margin-bottom: 15px
      .form-control
        height: 45px
        font-size: 18px
        //border-radius: 0
      .btn
        height: 45px
        font-size: 18px
      h3
        margin: 0 0 15px
        font-size: 23px
      .wrap-btn
        &:after
          content: none
    .form-section
      background: #00003c
      .mobile-hidden
        display: none
      .wrap-form-section
        padding: 0

    footer
      .label-footer
        display: block
        z-index: 50
        position: absolute
        padding: 15px 15px
        left: -30px
        top: 25px
        color: white
        text-transform: uppercase
        font-size: 7px
        //-webkit-transform: rotate(-90deg)
        //-ms-transform: rotate(-90deg)
        transform: rotate(-90deg)
        &:after
          content: ''
          position: absolute
          right: 85px
          top: 48%
          //-webkit-transform: translateY(-50%)
          //-ms-transform: translateY(-50%)
          transform: translateY(-50%)
          width: 5px
          height: 5px
          background: white
          //-webkit-border-radius: 50%
          border-radius: 50%
        a
          text-decoration: none
          color: white




/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    header
      background-position: right
      .header-text
        .title-section
          width: 100%
          text-align: center
      .logo
        display: flex
        justify-content: center
        align-items: center
        width: 150px
        top: -147px
    .form-hold
      .form-row
        width: 100%

    .third-section
      .regular-text-section
        font-size: 22px
        padding-top: 30px
      .bold-text-section
        font-size: 28px
        margin-top: 25px
      .button-section
        margin-top: 30px
        padding-bottom: 40px
        font-size: 25px

    .fourth-section
      padding: 20px 0
      .main-holder
        max-width: 400px
      .item
        width: 50%
        margin-bottom: 20px
      .mobili-br
        display: block
      p
        text-align: center
      .order-1
        order: 4
      .order-2
        order: 2
      .order-3
        order: 3
      .order-4
        order: 1

    footer
      text-align: center

@media only screen and (max-width : 680px)
    header
      .header-text
        h1, h2
          font-size: 45px
          //line-height: 1
        p
          font-size: 24px
      //.mobile-visible
      //  display: flex
      //  align-items: center
      //  justify-content: center
      //  position: absolute
      //  top: -165px
      //  left: 30px
      //  width: 150px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    header
      background-image: url(../img/background-mobile-2.png) !important
      min-height: 600px
      .items-section
        margin-top: 130px
      .header-text
        h1, h2
          font-size: 35px
          //background: transparent
          //color: #00003c
          padding: 0 20px
        p
          //background: transparent
          font-family: "FbSpoiler-Bold"
          font-size: 18px
          line-height: 1.2
          display: block
      .background-holder
        margin-bottom: 20px
      .logo
        top: -77px
        right: 10px
      .mobile-visible
        top: -86px
      .background-flight
        display: none
    .form-hold
      padding: 15px 0
      .mobili-br
        display: block

    .main-holder
      padding: 0 30px
    .third-section
      .regular-text-section
        font-size: 22px
      .bold-text-section
        font-size: 30px
        .mobili-br
          display: block
      .button-section
        a
          width: 100%
          display: block
          padding: 5px
    .form-hold
      h3
        font-size: 21px

    .fourth-section
      .item
        p
          //font-size: 19px



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
    header
      .logo
        width: 130px
      .mobile-visible
        width: 130px
      .header-text
        h1
          font-size: 30px
        h2
          font-size: 28px
        p
          font-size: 14px
    .form-hold
      h3
        font-size: 19px
    .third-section
      .regular-text-section
        font-size: 17px
      .bold-text-section
        font-size: 25px
    .fourth-section
      .item
        p
          font-size: 16px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

